<div class="topheader">
  <div class="headertext">
    <p class="small">
      <h1>The Developer Marketplace</h1>
      <h1>Find a developer suited to your needs</h1>
    </p>
    <h2>Built for developers and recruiters</h2>
  </div>
  <div class="buttons">
    <%= link_to developer_home_path do %>
      <button type="button" class="btn btn-primary btn-lg btn-border custom ">Developers</button>
    <% end %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to recruiter_home_path do %>
      <button type="button" class="btn btn-primary btn-lg btn-border leftbtn custom">Recruiters</button>
    <% end %>
  </div>
</div>

<div class="developerHeader">
  <div class="bigHeader">
    <h1>FOR DEVELOPERS</h1>
  </div>

  <div class="developerinformation">
    <h2>build your online CV &nbsp;&nbsp; <i class="fa fa fa-cogs fa-1x icons"></i></h2>
    <h2>visually show recruiters your work &nbsp;&nbsp; <i class="fa fa-code fa-1x icons"></i></h2>
    <h2>github integration, show off your code &nbsp; &nbsp;<i class="fa fa-code-fork fa-1x icons"></i></h2>
    <h2>get connected socially &nbsp;&nbsp; <i class="fa fa-twitter fa-1x icons"></i></h2>
  </div>
</div>

<div class="recruiterHeader">
  <div class="recruiterinformation">
    <h2><i class="fa fa fa-search fa-1x icons"></i>&nbsp;&nbsp; search our library of developers</h2>
    <h2><i class="fa fa-eye fa-1x icons"></i>&nbsp;&nbsp; see more than just a cv</h2>
    <h2><i class="fa fa-code fa-1x icons"></i>&nbsp;&nbsp; view actual work from candidates</h2>
    <h2><i class="fa fa-thumbs-o-up fa-1x icons"></i>&nbsp;&nbsp; search for developers who fit your role</h2>
  </div>

  <div class="bigHeader">
    <h1>FOR RECRUITERS</h1>
  </div>
</div>

<div class="footer">
  <hr>
  <%= render 'partials/footer' %>
</div>
