.topheader{
  height: 600px;
  background-color: white;

  .headertext{
    padding-top: 100px;
    padding-left: 30px;
    h1 {
      font-family: 'Comfortaa', cursive;
      line-height: 90%;
    }
    h2 {
      font-family: 'Comfortaa', cursive;
      padding-top: 30px;
    }
  }

  .buttons{
    padding-left: 30px;
    padding-top: 40px;

    .custom{
      width: 140px;
      border-radius: 0;
      font-family: 'Comfortaa', cursive;
      color: white;
      background-color: #674172;
      outline-color: #674172;
    }
  }
}

.developerHeader{
  margin-top: 65px;
  padding-right: 30px;

  .bigHeader{
    float: left;
    h1{
      padding-left: 30px;
      padding-top: 78px;
      font-family: 'Comfortaa', cursive;
      color: #674172;
    }
  }

  .developerinformation{

    h2{
      font-family: 'Comfortaa', cursive;
      font-size: 25px;
      text-align: right;
      line-height: 170%;

      .icons{
        color: #674172;
      }
    }
  }
}

.recruiterHeader{
  margin-top: 130px;
  padding-right: 30px;

  .bigHeader{

    h1{
      padding-left: 30px;
      padding-top: 115px;
      font-family: 'Comfortaa', cursive;
      color: #674172;
      text-align: right;
    }
  }

  .recruiterinformation{
    padding-left: 30px;
    float: left;

    h2{
      font-family: 'Comfortaa', cursive;
      font-size: 25px;
      text-align: left;
      line-height: 170%;

      .icons{
        color: #674172;
      }
    }
  }
}

.footer{
  margin-top: 150px;
  h5{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #674172;

  }
  .socialbuttons{
    text-align: center;
    padding-bottom: 20px;
  }
}
