.headersmall{
  background-color: #674172;
  height: 200px;
  h1{
    font-family: 'Comfortaa', cursive;
    color: white;
    padding-top: 60px;
    text-align: center;
  }
  h4{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
  }
}
.headerindex{
  width: 470px;
  background-color: #674172;
  h1{
    font-family: 'Comfortaa', cursive;
    color: white;
    padding-top: 60px;
    text-align: center;
  }
  h4{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
  }
}


.form_holder{
  width: 100%;
  h2{
    font-family: 'Comfortaa', cursive;
    color: #674172;
    text-align: center;
  }
  h4{
    font-family: 'Comfortaa', cursive;
    color: #674172;
    text-align: center;
  }
  label{
    font-family: 'Comfortaa', cursive;
    color: #674172;
  }

  .forms-grouped{
    width: 50%;
    margin: auto;
    .customgap{
      padding-top: 20px
    }
    .form-control{
      border-radius: 0;
      font-family: 'Comfortaa', cursive;
      font-size: 12px;
    }

    .personal-details{
    }
    .skills{
      .experianceContainer{
        padding-left: 120px;
        margin: auto;
        .radioholder {
        	width: 48%;
        	background: #fff;
        	margin-bottom: 0.5em;
        	font-size: 1em;
        	height: 2.4em;
        	color: #666;
        	-o-transition: .1s ease-out;
        	-ms-transition: .1s ease-out;
        	-moz-transition: .1s ease-out;
        	-webkit-transition: .1s ease-out;
        	transition: .1s ease-out;
        	cursor: pointer;
        }
        .activeradioholder {
        	background: #674172;
        	color: #fff;
        }
        .radioholder .tick {
        	display: inline-block;
        	vertical-align: middle;
        	width: 2.4em;
        	height: 100%;
        	background-color: #eee;
        	background-image: none;
        	-o-transition: .1s ease-out;
        	-ms-transition: .1s ease-out;
        	-moz-transition: .1s ease-out;
        	-webkit-transition: .1s ease-out;
        	transition: .1s ease-out;
        }
        .activeradioholder .tick {
        	background-color: #674172;
        	background-image: url('http://supereightstudio.com/img/radio_tick.png');
        	background-size: cover;
        }

        .radioholder:nth-child(odd) {
        	float: right;
        }

        .radioholder:nth-child(even) {
        	float: left;
        }

        .radioholder:hover {
        	background-color: #eee;
        }

        .radioholder:hover .tick {
        	background-color: #ddd;
        }

        .activeradioholder:hover {
        	background-color: #674172;
        }

        .activeradioholder:hover .tick {
        	background-color: #674172;
        }
      }
      .aofexpertise{
        padding-left: 60px;
        .collection_check_boxes{
          display: block;
          float: left;
          width: 30%;
        }
      }
    }
  }
  .job-preferences{
    padding-top: 180px;

  }
  .submitbutton{
    padding-top: 50px;
    width: 25%;
    margin: auto;
    .custom{
      width: 170px;
      border-radius: 0;
      font-family: 'Comfortaa', cursive;
      color: white;
      background-color: #674172;
      outline-color: #674172;
    }
  }
}

.indexcontainer{
  display:flex;

  .searchform{
    width: 390px;
    background-color: #674172;

    h1{
      font-family: 'Comfortaa', cursive;
      color: white;
      padding-left: 5px;
    }

    .formlabel{
      font-family: 'Comfortaa', cursive;
      color: white;
      padding-left: 5px;
      font-size: 16.5px;
    }

    .custom{
      border-radius: 0;
      margin-left: 5px;
      width: 80%;
      font-family: 'Comfortaa', cursive;
    }

    .aofexpertise{
      position: relative;
      clear: both;
      .collection_check_boxes li {
        display: block;
        float: left;
        width: 25%;
        padding-left: 5px;
        padding-top: 10px;
        font-family: 'Comfortaa', cursive;
        color: white;
      }
    }

    .aofcity{
      position: relative;
      clear: both;

      .collection_check_boxes li {
        display: block;
        float: left;
        padding-left: 5px;
        font-family: 'Comfortaa', cursive;
        color: white;
        width: 35%;
      }
    }

    .submitbutton{
      padding-top: 200px;
      padding-bottom: 20px;
      width: 100%;
      margin: auto;
      .custom{
        width: 97%;
        border-radius: 0;
        font-family: 'Comfortaa', cursive;
        color: #674172;
        background-color: white;
        outline-color: #674172;
      }
    }
  }

  .profilescontainer{
    flex-grow: 1;
    -webkit-flex: 1;
    flex:1;
    position:relative;

    .eachprofile{
      float: left;
      padding-left: 10px;
      margin-top: 100px;

      img{
        max-width:100%;
      }
      .profile-card{
        position:relative;
        width:250px;
        height: 300px;
        padding:40px 30px 10px;
        background:#674172;
        text-align:center;
        border-radius:4px;
        transition: all 200ms ease;
      }

      .profile-card:hover{
        box-shadow: 0px 30px 60px -5px rgba(55,55,71,0.3);
        transform: translate3d(0,-5px,0);
        .mask-shadow{
          opacity:1;
          box-shadow: 0px 30px 60px -5px rgba(55,55,71,0.3);
          position:absolute;
        }
      }
      .profile-card header{
        display:block;
        margin-bottom:10px;
      }
      .profile-card header a{
        width:150px;
        height:150px;
        display:block;
        border-radius:100%;
        margin:-120px auto 0;
        box-shadow: 0 0 0 5px white;
      }
      .profile-card header a img{
        border-radius: 50%;
        width:150px;
        height:150px;
      }

      .profile-card:hover header a, .profile-card header a:hover{
        animation: bounceOut .4s linear;
        -webkit-animation: bounceOut .4s linear;
      }
      .profile-card header h1{
        font-size:20px;
        color:white;
        text-transform:uppercase;
        margin-bottom:5px;
      }
      .profile-card header h2{
        font-size:14px;
        margin-top: 10px;
        color:white;
        text-transform:uppercase;
        margin:0;
      }
      /*content*/
      .profile-bio{
        font-size:14px;
        color:#a5a5a5;
        line-height:1.7;
        font-style: italic;
        margin-bottom:30px;
      }
      /*animation hover effect*/
      @-webkit-keyframes bounceOut {
        0% {
          box-shadow: 0 0 0 4px #82b541;
          opacity: 1;
        }
        25% {
          box-shadow: 0 0 0 1px #82b541;
          opacity: 1;
        }
        50% {
          box-shadow: 0 0 0 7px #82b541;
          opacity: 1;
        }
        75% {
          box-shadow: 0 0 0 4px #82b541;
          opacity: 1;
        }
        100% {
          box-shadow: 0 0 0 5px #82b541;
          opacity: 1;
        }
      }
      @keyframes bounceOut {
        0% {
          box-shadow: 0 0 0 6px #82b541;
          opacity: 1;
        }
        25% {
          box-shadow: 0 0 0 2px #82b541;
          opacity: 1;
        }
        50% {
          box-shadow: 0 0 0 9px #82b541;
          opacity: 1;
        }
        75% {
          box-shadow: 0 0 0 3px #82b541;
          opacity: 1;
        }
        100% {
          box-shadow: 0 0 0 5px #82b541;
          opacity: 1;
        }
      }
    }
  }
}

//profile show start
.profileHeader{
  .textfont{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
  }
  .views{
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
  }
  background-color: #674172;
  height: 650px;
  width: 100%;
  .imageContainer{
    text-align: center;
    #headshot {
    width: 220px;
    padding: .5em;
    margin-bottom: -3em;
    border-radius: 50%;
    background: #AEA8D3;
  }
}
  .infoContainer{
    padding-top: 15px;
    hr{
      width: 50%;
      border-color: #AEA8D3;
    }
    h1{
      font-size: 70px;
    }
  }
  .sociallinks{
    padding-top: 8px;

  }
}

.summary{
  padding-top: 5px;
  h1{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 70px;
    color: #674172;
  }
  hr{
    width: 70%;
  }
  .summarybox{
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    p{
      font-family: 'Comfortaa', cursive;
      word-spacing: 5px;
      font-size: 20px;
    }
  }
}

.secondContainer{
  height: 400px;
  background-color: #674172;
  .educationsContainer{
    height: 100%;
    width: 50%;
    float: left;
    h1{
      font-family: 'Comfortaa', cursive;
      color: white;
      text-align: right;
    }
    .eacheducation{
      padding-left: 10px;
      padding-right: 50px;
      h3{
        font-family: 'Comfortaa', cursive;
        color: white
      }
      h4{
        font-family: 'Comfortaa', cursive;
        color: #AEA8D3;
      }
      hr{
        border-color: #AEA8D3;
      }
    }
  }
  .preferenceContainer{
    width: 50%;
    float: right;
    height: 400px;
    h1{
      font-family: 'Comfortaa', cursive;
      color: white;
      text-align: right;
      padding-right: 10px;
    }
    .eachPreferences{
      padding-top: 0.5px;
      padding-left: 20px;
      hr{
        border-color: #AEA8D3;
      }
      h4{
        font-family: 'Comfortaa', cursive;
        color: white;
      }
      li{
        list-style: none;
      }
    }
  }
}

.portfolioContainer{
  margin: auto;
  width: 100%;
  position: relative;
  h1{
    font-family: 'Comfortaa', cursive;
    color: #674172;
    text-align: center;
  }
  hr{
    width: 90%;
    border-color: #AEA8D3;
  }

  .eachportfolio{
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 50px;
    .container {
        margin: 0 auto;
        max-width: 480px;
        clear: both;
    }

    .caption {
        position: relative;
        overflow: hidden;
        float:left;
        height: 300px;
        width: 300px;
    }

    .caption::before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        transition: background .35s ease-out;
    }

    .caption:hover::before {
        background: rgba(0, 0, 0, .5);
    }

    .caption__media {
        display: block;


    }

    .caption__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        color: white;

        -webkit-transform: translateY(100%);
                transform: translateY(100%);

        transition: -webkit-transform .35s ease-out;
        transition:         transform .35s ease-out;
    }

    .caption:hover .caption__overlay {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    .caption__overlay__title {
        -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
                transform: translateY( calc(-100% - 10px) );

        transition: -webkit-transform .35s ease-out;
        transition:         transform .35s ease-out;
    }

    .caption:hover .caption__overlay__title {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
  }
}

.workContainer{
  width: 100%;
  clear: both;
  background-color: #674172;


  h1{
    padding-top: 20px;
    padding-right: 20px;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: right;
  }

  .eachworks{

  }
}
